<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/a860ab3c5f.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="img/pictograma_dia.svg">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
<nav id="nav">
    <a class="navItem" href="/datacenter">DATA CENTER</a>
    <a class="navItem" href="/xml">XML CONVERTER</a>
    <a id="button" href="/"><img id="logo" src="img/michilogo_dia.png" alt="michi_dia"></a>
    <a class="navItem" href="/statistics">STATISTICS</a>
    <% if (!hasToken) { %>
        <a class="navItem" href="/login">LOGIN</a>
    <% } else { %>
        <p id="navUsername">Welcome, <%= username %></p>
    <% } %>
</nav>

<button id="day_night_button" onclick="day_night(event)">
    <i class="fa-solid fa-moon"></i>
    <i class="fa-solid fa-certificate" style="display: none;"></i>
</button>

<div id="formContainer">
    <form id="formulario" action="/auth" method="POST">
        <% if (error) { %>
            <p id="error"><%= error %></p>
        <% } %>
        <h2 id="titulo">LOG IN HERE</h2><br>
        <input type="text" name="user" placeholder="Username" required>
        <input type="password" name="pass" placeholder="Password" required>
        <input id="submit" type="submit" name="submit" value="Send">
    </form>
</div>

<script src="../js/day_night.js"></script>
<script src="../js/logout_register.js"></script>
</body>
</html>