<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="icon" type="image/x-icon" href="img/pictograma_dia.svg">
    <link rel="stylesheet" href="css/notfound.css">
</head>
<body>
    <div>
        <h1>4</h1>
        <img src="img/pictograma_dia.svg" alt="michi">
        <h1>4</h1>
    </div>
    <h2>NOT FOUND</h2>
    <h3>The resource requested could not be found...</h3>
    <br>
    <a href="/"><button id="notfound_button">Return to the page</button></a>
</body>
</html>