<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User registered</title>
    <link rel="icon" type="image/x-icon" href="img/pictograma_dia.svg">
    <link rel="stylesheet" href="css/notfound.css">
</head>
<body>
    <h2>User Registered</h2>
    <h3>Your data has been loaded.</h3>
    <br>
    <a href="/login"><button id="notfound_button">Return to Log in</button></a>
</body>
</html>