<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML Converter</title>
    <script src="https://kit.fontawesome.com/a860ab3c5f.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="img/pictograma_dia.svg">
    <link rel="stylesheet" href="../css/xml.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
<nav id="nav">
    <a class="navItem" href="/datacenter">DATA CENTER</a>
    <a class="navItem" href="/xml">XML CONVERTER</a>
    <a id="button" href="/"><img id="logo" src="img/michilogo_dia.png" alt="michi_dia"></a>
    <a class="navItem" href="/statistics">STATISTICS</a>
    <% if (!hasToken) { %>
        <a class="navItem" href="/login">LOGIN</a>
    <% } else { %>
        <p id="navUsername">Welcome, <%= username %></p>
    <% } %>
</nav>

<button id="day_night_button" onclick="day_night(event)">
    <i class="fa-solid fa-moon"></i>
    <i class="fa-solid fa-certificate" style="display: none;"></i>
</button>

<% if (hasToken) { %>
    <button id="logout_button" onclick="logoutButton()">
        <i class="fa-solid fa-power-off"></i>
    </button>
<% } %>

<% if (isAdmin) { %>
    <button id="register_button" onclick="registerButton()">
        <i class="fa-solid fa-user-plus"></i>
    </button>
<% } %>

<div id="formContainer">
    <form id="formulario" action="/uploadXML" method="post" enctype="multipart/form-data">
        <h2 id="titulo">Upload your XML files here</h2>
        <input type="file" name="xmlFile" accept=".xml">
        <input id="submit" type="submit" value="Upload file">
    </form>
</div>

<script src="../js/day_night.js"></script>
<script src="../js/logout_register.js"></script>
</body>
</html>